.greenButton {
  background-color: #223623;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

#Navbar {
  background-color: #223623;
}
#singleCardID{
  background-color: yellowgreen;
}

li {
  list-style: none;
  max-width: auto;
}

.col {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.singleChallengeList {
  padding: 2em;
}

.upload {
  cursor: pointer;
}

#chooseFile {
  border-style: inset;
}

#charities {
  display: inline-flex;
}

.cardTitle {
  font-weight: bold;
}

#footer {
  align-items: stretch;
  justify-items: center;
}

form {
  text-align: center justify;
  padding: 10%;
}

.login {
  max-width: 500px;
  margin: auto;
}

.center {
  background-color: pink;
}

.cards_headers {
  background-color: rgba(230, 242, 7, 0.947);
}

.cards_body {
  background-color: yellowgreen;
}

#challengeList {
  max-width: 80%;
  align-content: center;
}

#singleCardID2{
  background-color: yellowgreen;
}

#singleCardID{
  background-color: yellowgreen;
}