.greenButton {
  background-color: #223623;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.container {
  margin:0 auto;      
  width: 100%; 
  text-align: center;
  background-color: #B6CA91;
}

#Navbar {
  background-color: #223623;
}

li {
  list-style: none;
}

.col { 
  padding-left: 5px !important;; 
  padding-right: 5px !important;; 
}

.singleChallengeList {
  padding: 2em;
}

.upload {
  cursor: pointer;
}

#chooseFile {
  border-style: inset;
}

#charities {
  display: inline-flex;
}

.cardTitle {
  font-weight: bold;
}

#footer {
  align-items: stretch;
}

.card-headed {
  background-color: #FCE205
}

form {
  text-align: center justify;
  padding: 10%;
}

.login{
  max-width: 500px;
  margin: auto;
}